<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#/org/organizaciones/listar"><i class="fa fa-building-o fa-fw"></i>&nbsp;Organizaciones</a></li>
        <li class="active">Editar</li>
    </ol>
</section>

<div class="container-fluid">
    <template [ngIf]="tabs">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li *ngFor="let tab of tabs" [class.active]="tab.active" role="presentation" style="cursor: pointer;">
                        <a (click)="gotoTab(tab)">{{tab.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </template>
</div>

<br>

<template [ngIf]="organizacion">
    <div class="container-fluid">
        <form (ngSubmit)="onSubmit()" #editarOrganizacionForm="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" name="nombre" type="text" class="form-control" required
                               [(ngModel)]="organizacion.nombre" ngControl="nombre" #nombre="ngModel">
                        <div [hidden]="nombre.valid || nombre.untouched" class="alert alert-danger">
                            Debe ingresar el nombre.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-info" [disabled]="!editarOrganizacionForm.form.valid">Guardar</button>
                    <button type="button" class="btn btn-default" (click)="listarOrganizaciones()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>

    <template [ngIf]="verNotificacion">
        <notifications [notification]="notificacion"
                       (close)="closeNotification($event)"></notifications>
    </template>
</template>