<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#/org/tipos-documentos/listar"><i class="fa fa-credit-card fa-fw"></i>&nbsp;Tipos de Documento</a></li>
        <li class="active">Editar</li>
    </ol>
</section>

<template [ngIf]="tipoDocumento">
    <div class="container-fluid">
        <form (ngSubmit)="onSubmit()" #editarTipoDocumentoForm="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombre">Tipo de Documento</label>
                        <input id="nombre" name="nombre" type="text" class="form-control" required
                               [(ngModel)]="tipoDocumento.nombre" ngControl="nombre" #nombre="ngModel">
                        <div [hidden]="nombre.valid || nombre.untouched" class="alert alert-danger">
                            El nombre es obligatorio.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-info" type="submit" [disabled]="!editarTipoDocumentoForm.form.valid">Guardar</button>
                    <button class="btn btn-default" type="button" (click)="gotoListarTiposDocumento()">Cancelar</button>
                </div>
            </div>
        </form>

        <template [ngIf]="verNotificacion">
            <notifications [notification]="notificacion"
                           (close)="closeNotification($event)"></notifications>
        </template>
    </div>
</template>