<template [ngIf]="organizacion">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#/org/organizaciones/listar"><i class="fa fa-users fa-fw"></i>&nbsp;Organizaciones</a></li>
            <li><a href="#/org/organizaciones/{{organizacion.id}}/editar">#{{organizacion.id}}</a></li>
            <li class="active">Documentos</li>
        </ol>
    </section>

    <div class="container-fluid">
        <template [ngIf]="tabs">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li *ngFor="let tab of tabs" [class.active]="tab.active" role="presentation" style="cursor: pointer;">
                            <a (click)="gotoTab(tab)">{{tab.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </template>
    </div>

    <br>

    <documentos [orgParteId]="organizacion.org_parte_id"></documentos>
</template>