<div *ngIf="usuario">
    <div class="container">
        <section class="content-header">
            <h2>
                Mi Perfil
            </h2>
        </section>
    </div>

</div>

<!-- Mensaje -->
<!--<div id="message">-->
    <!--<div class="container-fluid" >-->
        <!--<div id="inner-message">-->
            <!--<div  class="alert alert-success" [hidden]="!mostrarMensajeExito">-->
                <!--<strong>{{mensajeAlerta}}</strong>-->
            <!--</div>-->

            <!--<div  class="alert alert-danger" [hidden]="!mostrarMensajeError">-->
                <!--&lt;!&ndash;<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>&ndash;&gt;-->
                <!--<strong> {{mensajeAlerta}} &nbsp; &nbsp; &nbsp;</strong>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
