<div class="container-fluid">
    <div class="row">
        <div class="pull-right">
            <button type="button" class="btn btn-success" (click)="agregarDocumento()">
                <i class="fa fa-plus"></i>&nbsp;Agregar Documento
            </button>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <template [ngIf]="headers">
                    <thead>
                        <tr>
                            <th *ngFor="let head of headers">
                                {{head.descrip}}
                            </th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                </template>

                <template [ngIf]="documentos">
                    <tbody>
                        <tr *ngFor="let documento of documentos">
                            <td class="col-md-4">
                                <a style="cursor: pointer;" (click)="getDocumento(documento)">
                                    {{documento.tipo}}
                                </a>
                            </td>

                            <td class="col-md-4">
                                <a style="cursor: pointer;" (click)="getDocumento(documento)">
                                    {{documento.documento}}
                                </a>
                            </td>

                            <td class="col-md-3 text-center">
                                <span *ngIf="documento.es_principal" class="text-info">
                                    <i class="fa fa-check fa-fw"></i>
                                </span>

                                <span *ngIf="!documento.es_principal" class="text-gray">
                                    <i class="fa fa-check fa-fw"></i>
                                </span>
                            </td>

                            <td class="col-md-1 text-center">
                                <i class="text-danger fa fa-remove fa-fw"
                                   style="cursor: pointer;" (click)="eliminarDocumento(documento)"></i>
                            </td>
                        </tr>
                    </tbody>
                </template>
            </table>
        </div>
    </div>

    <modal [animation]="animationsEnabled" (onClose)="onClose($event)" #modal>
        <modal-header [show-close]="true">
            <h4 *ngIf="!editandoDocumento" class="modal-title">Nuevo Documento</h4>
            <h4 *ngIf="editandoDocumento" class="modal-title">Editar Documento</h4>
        </modal-header>

        <modal-body>
            <div class="container-fluid">
                <form (ngSubmit)="onSubmit()" #crearEditarDocumento="ngForm" *ngIf="utilizandoFormulario">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="documento">Documento</label>
                                <input id="documento" name="documento" type="text" class="form-control" required
                                       [(ngModel)]="nuevoDocumento.documento" ngControl="documento" #documento="ngModel">
                                <div [hidden]="documento.valid || documento.untouched" class="alert alert-danger">
                                    Debe ingresar el documento.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="org_documento_tipo_id">Tipo de Documento</label>
                                <select id="org_documento_tipo_id" name="org_documento_tipo_id" class="form-control" required
                                        [(ngModel)]="nuevoDocumento.org_documento_tipo_id" ngControl="org_documento_tipo_id" #org_documento_tipo_id="ngModel">
                                    <option *ngFor="let tipo of tiposDocumento" [value]="tipo.id">{{tipo.nombre}}</option>
                                </select>
                                <div [hidden]="org_documento_tipo_id.valid || org_documento_tipo_id.untouched" class="alert alert-danger">
                                    Debe ingresar el tipo de documento.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label for="es_principal">
                                    <input id="es_principal" name="es_principal" type="checkbox"
                                           [(ngModel)]="nuevoDocumento.es_principal"> Es Principal
                                </label>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-warning" type="submit" [disabled]="!crearEditarDocumento.form.valid">Guardar</button>
                            <button class="btn btn-default" type="button" (click)="cerrarFormulario()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </modal-body>
    </modal>

    <template [ngIf]="verNotificacion">
        <notifications [notification]="notificacion"
                       (close)="closeNotification($event)"></notifications>
    </template>
</div>