<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#/org/personas/listar"><i class="fa fa-users fa-fw"></i>&nbsp;Personas</a></li>
        <li class="active">Editar</li>
    </ol>
</section>

<div class="container-fluid">
    <template [ngIf]="tabs">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li *ngFor="let tab of tabs" [class.active]="tab.active" role="presentation" style="cursor: pointer;">
                        <a (click)="gotoTab(tab)">{{tab.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </template>
</div>

<br>

<template [ngIf]="persona">
    <div class="container-fluid">
        <form (ngSubmit)="onSubmit()" #editarPersonaForm="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombres">Nombre/s</label>
                        <input id="nombres" name="nombres" type="text" class="form-control" required
                               [(ngModel)]="persona.nombres" ngControl="nombres" #nombres="ngModel">
                        <div [hidden]="nombres.valid || nombres.untouched" class="alert alert-danger">
                            Debe ingresar el nombre.
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="apellidos">Apellido/s</label>
                        <input id="apellidos" name="apellidos" type="text" class="form-control" required
                               [(ngModel)]="persona.apellidos" ngControl="apellidos" #apellidos="ngModel">
                        <div [hidden]="apellidos.valid || apellidos.untouched" class="alert alert-danger">
                            Debe ingresar el apellido.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <my-date-picker [options]="myDatePickerOptions"
                                        (dateChanged)="onDateChanged($event)"
                                        [selDate]="persona.fecha_de_nacimiento"></my-date-picker>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-info" [disabled]="!editarPersonaForm.form.valid">Guardar</button>
                    <button type="button" class="btn btn-default" (click)="listarPersonas()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>

    <template [ngIf]="verNotificacion">
        <notifications [notification]="notificacion"
                       (close)="closeNotification($event)"></notifications>
    </template>
</template>