<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-user-md fa-fw"></i>&nbsp;<a href="#/adm/roles/listar">Roles</a></li>
        <li>Crear Rol</li>
    </ol>
</section>
<div class="container-fluid">
    <form (ngSubmit)="onSubmit()" #crearRolForm="ngForm">
        <fieldset>
            <legend class="text-info"><i class="fa fa-credit-card-alt fa-fw"></i> Rol</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" type="text" class="form-control" required
                               [(ngModel)]="rol.nombre" ngControl="nombre" #nombre="ngModel" name="nombre">
                        <div [hidden]="nombre.valid || nombre.untouched" class="alert alert-danger">
                            El nombre es obligatorio.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <input id="descripcion" type="text" class="form-control"
                               [(ngModel)]="rol.descripcion" name="descripcion">
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-info" type="submit" [disabled]="!crearRolForm.form.valid">Guardar</button>
                <button class="btn btn-default" type="button" (click)="listarRoles()">Cancelar</button>
            </div>
        </div>
    </form>
</div>

<!-- ************ NOTIFICACIONES ************-->
<template [ngIf]="verNotificacion">
    <notifications [notification]="notificacion"
                   (close)="closeNotification($event)"></notifications>
</template>