<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-user-md fa-fw"></i>&nbsp; Roles</li>
    </ol>
</section>

<div class="container-fluid">
    <form>
        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="rolInput">Nombre Rol</label>
                        <input type="text" class="form-control" id="rolInput" [(ngModel)]="search.nombre" name="rolInput">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-info" value="Buscar" (click)="filtrar()">
                    <input type="reset" class="btn btn-warning" value="Limpiar" (click)="limpiar()">
                </div>
            </div>
        </fieldset>
    </form>
    <div class="row">
        <div class="pull-right">
            <button type="button" class="btn btn-success" (click)="nuevoRol()">
                <span class="fa fa-plus"></span>
                Nuevo Rol
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
    <br>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th *ngFor="let head of headers" (click)="ordenar(head)">
                        {{head.descrip}}
                        <template [ngIf]="head.columna == order.sort && order.dir == 'asc'">
                            <span><i class="fa fa-arrow-up fa-fw"></i></span>
                        </template>
                        <template [ngIf]="head.columna == order.sort && order.dir == 'desc'">
                            <span><i class="fa fa-arrow-down fa-fw"></i></span>
                        </template>
                    </th>
                    <!--<th>Editar</th>-->
                    <th>Eliminar</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let rol of roles">
                    <td class="col-md-4 text-center">
                        <a [routerLink]="['EditarRolComponent', {idRol: rol.id}]">
                            {{rol.nombre}}
                        </a>
                    </td>
                    <td class="col-md-6">
                        {{rol.descripcion}}
                    </td>
                    <!--<td class="text-center col-md-1">
                        <a class="text-warning" [routerLink]="['EditarRolComponent', {idRol: rol.id}]">
                            <i class="fa fa-pencil fa-fw"></i>
                        </a>
                    </td>-->
                    <td class="text-center col-md-1">
                        <a class="text-danger" style="cursor:pointer;">
                            <i (click)="borrarRol(rol.id)" class="fa fa-remove fa-fw"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-left text-success">
            Total de Registros: <strong>{{numResults}}</strong>
        </div>
        <div class="col-md-6 text-right">
                <button class="btn btn-link" [disabled]="pagination.pagina == 0" type="button" (click)="prevPage()">Anterior</button>
                P&aacute;g. 
                <input id="fontSize" style="width: 50px; text-align: center;" [value]= "paginaActual" (change)="changePage($event.target.value)">
                de {{totalDePaginas}}
                <button class="btn btn-link" [disabled]="pagination.pagina + 1 == totalDePaginas" type="button" (click)="nextPage()">Siguiente</button>
        </div>
    </div>

    <!-- Mensaje -->
    <div id="message">
        <div class="container-fluid" >
            <div id="inner-message">
                <div  class="alert alert-success" [hidden]="!mostrarMensajeExito">
                    <strong>{{mensajeAlerta}}</strong>
                </div>

                <div  class="alert alert-danger" [hidden]="!mostrarMensajeError">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong> {{mensajeAlerta}} &nbsp; &nbsp; &nbsp;</strong>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN Mensaje -->

    <template [ngIf]="verNotificacion">
        <notifications [notification]="notificacion"
                       (close)="closeNotification($event)"></notifications>
    </template>
</div>