<div class="row">
    <div class="col-md-6">
        <h4 class="text-info">
            M&oacute;dulos del Sistema
        </h4>

        <template [ngIf]="modulos">
            <div class="panel-group">
                <div *ngFor="let modulo of modulos" class="panel panel-default">
                    <div class="panel-heading" style="cursor: pointer;"
                         (click)="selectModulo(modulo)">
                        <h4 class="panel-title">
                            {{modulo.nombre}}
                        </h4>
                    </div>

                    <ul class="list-group" [hidden]="!modulo.isOpen">
                        <li *ngFor="let cu of modulo.cus" class="list-group-item"
                            (click)="selectCasoUso(cu)" style="cursor: pointer;">
                            {{cu.nombre}}
                        </li>
                    </ul>
                </div>
            </div>
        </template>
    </div>

    <div class="col-md-6">
        <h4 class="text-info">
            Operaciones
        </h4>

        <template [ngIf]="casoUsoSeleccionado">
            <ol class="breadcrumb">
                <li>{{moduloSeleccionado.nombre}}</li>
                <li class="active">{{casoUsoSeleccionado.nombre}}</li>
            </ol>

            <ul class="list-group">
                <li *ngFor="let op of casoUsoSeleccionado.ops" class="list-group-item" style="cursor: pointer;">
                    <input type="checkbox" name="op.codigo"
                           [checked]="tieneOperacion(op.codigo)"
                           (click)="marcarDesmarcarOperacion($event, op)">
                    &nbsp;{{op.nombre}}
                </li>
            </ul>

            <button type="button" class="btn btn-warning" (click)="actualizarPermisos()">Actualizar Permisos</button>
        </template>
    </div>

    <div class="clearfix"></div>
</div>

<!-- Mensaje -->
<div id="message">
    <div class="container-fluid" >
        <div id="inner-message">
            <div  class="alert alert-success" [hidden]="!mostrarMensajeExito">
                <strong>{{mensajeAlerta}}</strong>
            </div>

            <div  class="alert alert-danger" [hidden]="!mostrarMensajeError">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong> {{mensajeAlerta}} &nbsp; &nbsp; &nbsp;</strong>
            </div>
        </div>
    </div>
</div>
<!-- FIN Mensaje -->