<section class="content-header">
    <h2>
        Panel de Control
        <small> Módulo Tesorer&iacute;a</small>
    </h2>
</section>

<br>

<section class="content">
    <div class="row text-white">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-blue disabled"
                 style="cursor: pointer;" onclick="window.location='#/tes/ordenes-pago/listar';">
                <div class="inner">
                    <h3 *ngIf="!loadingTarjetas">{{cantidadTarjetas}}</h3>
                    <span *ngIf="loadingTarjetas">
                        <i class="text-white fa fa-refresh fa-spin fa-4x"></i>
                    </span>

                    <p>Ordenes de Pago</p>
                </div>
                <div class="icon">
                    <i class="fa fa-credit-card"></i>
                </div>
                <a href="#/tes/ordenes-pago/listar" class="small-box-footer">Más información <i
                        class="fa fa-credit-card-alt"></i></a>
            </div>
        </div>
    </div>
</section>