<section class="content-header">
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-sitemap fa-fw"></i>&nbsp;Organigramas</li>
    </ol>
</section>

<template [ngIf]="organigramaSeleccionadoId && organigramas">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <select class="form-control" [(ngModel)]="organigramaSeleccionadoId"
                        (change)="onChange($event.target.value)">
                    <option *ngFor="let organigrama of organigramas" [value]="organigrama.id">
                        {{organigrama.nombre}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</template>

<br>

<template [ngIf]="organigrama">
    <template [ngIf]="!loadingData">
        <arbol-organigrama [organigrama]="organigrama"
                           [padreId]="null"
                           (guardame)="guardarNodo($event)"
                           (eliminame)="eliminarNodo($event)"
                           (cancelame)="cancelarNodo($event)">
        </arbol-organigrama>
    </template>

    <template [ngIf]="loadingData">
        <div class="col-md-2 col-md-offset-5" style="color:#286090;">
            <i class="fa fa-refresh fa-spin fa-4x"></i>
        </div>
    </template>

    <template [ngIf]="verNotificacion">
        <notifications [notification]="notificacion"
                       (close)="closeNotification($event)"></notifications>
    </template>
</template>