<section class="content-header">
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-location-arrow fa-fw"></i>&nbsp;Listado de Usuarios Registrados</li>
    </ol>
</section>


<div class="container-fluid">
    <!--<template [ngIf]="numResults == 0 && !loadingData">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12 jumbotron">-->
                <!--<h3>Sin Registros.</h3>-->
                <!--<p>La organizaci&oacute;n no tiene marcaciones registrados.</p>-->
                <!--<p>-->
                    <!--<button type="button" class="btn btn-default" (click)="gotoCrearBanco()">-->
                        <!--<i class="fa fa-plus fa-fw"></i> Agregar-->
                    <!--</button>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</template>-->

    <!--<template [ngIf]="numResults > 0 && !loadingData">-->
    <template [ngIf]="marcaciones">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                        <tbody>
                            <tr *ngFor="let dato of marcaciones">
                                <td class="col-md-2 text-center">
                                    {{dato.nombre}}
                                </td>
                                <td class="col-md-2 text-center">
                                    {{dato.apellido}}
                                </td>
                                <td class="col-md-4 text-center">
                                    {{dato.email}}
                                </td>
                                <td class="col-md-3 text-center">
                                    {{dato.password}}
                                </td>
                                <td class="col-md-1 text-center">
                                    <a class="text-danger" (click)="eliminarUsuario(dato.email)" style="cursor: pointer;">
                                        <i class="fa fa-remove fa-fw"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
		
    </template>

    <template [ngIf]="loadingData">
        <div class="col-md-12 text-center text-darkblue">
            <i class="fa fa-refresh fa-spin fa-4x"></i>
        </div>
    </template>

    <template [ngIf]="verNotificacion">
        <notifications [notification]="notificacion"
                       (close)="closeNotification($event)"></notifications>
    </template>
</div>
