<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-users fa-fw"></i>&nbsp;<a href="#/adm/usuarios/listar">Usuarios</a></li>
        <li class="active">{{usuario.email}}</li>
    </ol>
</section>

<div class="container-fluid">
    <template [ngIf]="tabs">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li *ngFor="let tab of tabs" [class.active]="tab.active" role="presentation" style="cursor: pointer;">
                        <a (click)="gotoTab(tab)">{{tab.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </template>
</div>

<div *ngIf="usuario">
    <br>
    <div class="container-fluid">
        <form (ngSubmit)="onSubmit()" #editarUsuarioForm="ngForm">
            <legend class="text-info"><i class="fa fa-address-card fa-fw"></i> Principal</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="text" class="form-control" required
                               [(ngModel)]="usuario.email" ngControl="email" #email="ngModel"
                               [disabled]="!editarUsuario"
                               name="email">
                        <div [hidden]="email.valid" class="alert alert-danger">
                            El email es obligatorio.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Estado</label>
                        <select class="form-control" 
                        [(ngModel)]="estadoSelected" 
                        (change)="onChange($event.target.value)"
                        name="estado">
                            <option *ngFor="let estado of estados" [value]="estado.id">
                                {{estado.estado}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row"> 
                <!-- Boton Guardar -->
                <div class="col-md-12" [hidden]="!editarUsuario">
                    <button class="btn btn-warning" type="submit"  [disabled]="!editarUsuarioForm.form.valid || (usuario.password != usuario.confirmar_pass)">Guardar</button>
                </div>

                <div class="col-md-12"  [hidden]="editarUsuario">
                    <button class="btn btn-success" type="button" (click)="editar()">Editar</button>
                </div>
            </div>
            <br>
        </form>
    </div>


    <br>
    <template [ngIf]="verNotificacion">
        <notifications [notification]="notificacion"
                       (close)="closeNotification($event)"></notifications>
    </template>
    
    <template [ngIf]="loadingData">
        <div class="col-md-2 col-md-offset-5" style="color:#286090;">
            <i class="fa fa-refresh fa-spin fa-4x"></i>
        </div>
    </template>
    
</div>