<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-users fa-fw"></i>&nbsp;<a href="#/adm/usuarios/listar">Usuarios</a></li>
        <li *ngIf="usuario"><a style="cursor: pointer;" (click)="volver()">{{usuario.email}}</a></li>
        <li class="active" *ngIf="perfil">{{perfil.nombre}}</li>
    </ol>
</section>

<div class="container-fluid">
    <template [ngIf]="tabs">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li *ngFor="let tab of tabs" [class.active]="tab.active" role="presentation" style="cursor: pointer;">
                        <a (click)="gotoTab(tab)">{{tab.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </template>
</div>
<br>
<legend class="text-info"><i class="fa fa-user fa-fw"></i> Datos Principales</legend>
<div class="container-fluid">
    <form (ngSubmit)="onSubmit()" #editarPerfilUsuarioForm="ngForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre de Perfil: </label>
                    <input id="nombre" type="text" class="form-control" required
                           [(ngModel)]="perfil.nombre" ngControl="nombre" 
                           #nombre="ngModel" 
                           [disabled]="!editTable"
                           name="nombre">
                    <div [hidden]="nombre.valid || nombre.untouched" class="alert alert-danger">
                        El nombre de Perfil es obligatorio.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="empresa">Empresa</label>

                    <div *ngIf="!editTable">
                        <input id="organigrama" type="text" 
                               class="form-control"
                               [(ngModel)]="perfil.organigrama" disabled
                               name="organigrama">
                    </div>

                    <div *ngIf="editTable">
                        <select id="empresa"
                                class="form-control" required
                                [(ngModel)]="perfil.org_organigrama_id" 
                                ngControl="empresa"
                                #empresa="ngModel"
                                name="empresa">
                            <option
                                    *ngFor="let e of empresas"
                                    [selected]="e.id == perfil.organigrama"
                                    [value]="e.id">
                                {{e.nombre}}
                            </option>
                        </select>
                        <div [hidden]="empresa.valid || empresa.untouched" class="alert alert-danger">
                            La empresa es obligatoria.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="checkbox">
                    <label for="perfilDefecto">
                        <input id="perfilDefecto" type="checkbox"
                               [(ngModel)]="perfil.es_principal"
                               ngControl="perfilDefecto"
                               [disabled]="!editTable"
                               name="perfilDefecto">
                        Usar como perfil por defecto
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div *ngIf="editTable">
                    <button type="submit" class="btn btn-success" [disabled]="!editarPerfilUsuarioForm.form.valid">
                             <i class="fa fa-save"></i> Guardar
                    </button>
                    <button type="button" class="btn btn-danger" (click)="cancelar()">
                             <i class="fa fa-remove"></i> Cancelar
                    </button>
                </div>

                <div *ngIf="!editTable">
                    <button type="button" class="btn btn-info" (click)="onEdit()">
                             <i class="fa fa-pencil"></i> Editar
                    </button>
                </div>


            </div>
        </div>
    </form>


    <!-- ************ ROLES ASOCIADOS AL PERFIL ************-->

    <!-- ************ NOTIFICACIONES ************-->
    <template [ngIf]="verNotificacion">
        <notifications [notification]="notificacion"
                       (close)="closeNotification($event)"></notifications>
    </template>
</div>