<section class="content-header">
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-users fa-fw"></i>&nbsp;Usuarios</li>
    </ol>
</section>

<div class="container-fluid">
    <form (ngSubmit)="filtrar()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Usuario</label>
                    <input id="email" name="email" type="text" class="form-control" [(ngModel)]="search.email">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre / Apellido</label>
                    <input id="nombre" name="nombre" type="text" class="form-control" [(ngModel)]="search.nombre">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <input type="submit" class="btn btn-info" value="Buscar">
                <input type="reset" class="btn btn-warning" value="Limpiar" (click)="limpiar()">
            </div>
        </div>
    </form>
</div>

<br>

<div class="container-fluid">
    <template [ngIf]="numResults <= 0 && !loadingData">
        <div class="row">
            <div class="col-md-12 jumbotron">
                <h3>Sin Registros.</h3>
                <p>La organizaci&oacute;n no tiene usuarios registradas.</p>
                <p>
                    <button type="button" class="btn btn-success" (click)="gotoCrearUsuario()">
                        <i class="fa fa-plus fa-fw"></i>
                        Agregar Usuario
                    </button>
                </p>
            </div>
        </div>
    </template>

    <template [ngIf]="numResults > 0 && !loadingData">
        <div class="row">
            <div class="pull-right">
                <button type="button" class="btn btn-success" (click)="gotoCrearUsuario()">
                    <i class="fa fa-plus fa-fw"></i>
                    Agregar Usuario
                </button>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead *ngIf="headers">
                        <tr>
                            <th *ngFor="let head of headers" (click)="ordenar(head)">
                                {{head.descrip}}
                                <template [ngIf]="head.columna == order.sort && order.dir == 'asc'">
                                    <span><i class="fa fa-arrow-up fa-fw"></i></span>
                                </template>
                                <template [ngIf]="head.columna == order.sort && order.dir == 'desc'">
                                    <span><i class="fa fa-arrow-down fa-fw"></i></span>
                                </template>
                            </th>
                            <!--<th>Eliminar</th>-->
                        </tr>
                    </thead>

                    <tbody *ngIf="usuarios">
                        <tr *ngFor="let usuario of usuarios">
                            <td class="col-md-4">
                                <a [routerLink]="['EditarPrincipalUsuarioComponent', {id: usuario.id}]">
                                    {{usuario.email}}
                                </a>
                            </td>

                            <td class="col-md-3">
                                {{usuario.nombre}}
                            </td>

                            <td class="col-md-3">
                                {{usuario.apellido}}
                            </td>

                            <td class="col-md-2 text-center">
                                <span *ngIf="!usuario.estado_nombre">-</span>
                                <span *ngIf="usuario.estado_nombre">{{usuario.estado_nombre}}</span>
                            </td>

                            <!--<td class="col-md-1 text-center text-danger">
                                <i class="fa fa-remove fa-fw"></i>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-left text-success">
                Total de Registros: <strong>{{numResults}}</strong>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-link" [disabled]="pagination.pagina == 0" type="button" (click)="prevPage()">Anterior</button>
                P&aacute;g.
                <input id="fontSize" style="width: 50px; text-align: center;" [value]= "paginaActual" (change)="changePage($event.target.value)">
                de {{totalDePaginas}}
                <button class="btn btn-link" [disabled]="pagination.pagina + 1 == totalDePaginas" type="button" (click)="nextPage()">Siguiente</button>
            </div>
        </div>
    </template>

    <template [ngIf]="loadingData">
        <div class="col-md-2 col-md-offset-5" style="color:#286090;">
            <i class="fa fa-refresh fa-spin fa-4x"></i>
        </div>
    </template>
</div>