<section class="content-header">
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-location-arrow fa-fw"></i>&nbsp;Nueva Marcacion</li>
    </ol>
</section>

<div class="container-fluid">
        <div class="row">
            <div class="form-group">
				<form>
					<div class="form-group">
    					<label for="email">Identificador de Usuario:</label>
    					<input type="number" name="usuario_id" class="form-control" id="usuario_id" [(ngModel)]="mark.usuario_id">
  					</div>
					<div class="form-group">
    					<label for="apellido">Identificador de Lugar:</label>
    					<input type="number" name="lugar_id" class="form-control" id="lugar_id" [(ngModel)]="mark.lugar_id">
  					</div>
  					<button type="submit" class="btn btn-success" (click)="sendDataDialings()" >Create Dialing</button>
				</form>
            </div>
        </div>
</div>
