<div class="container-fluid">
    <template [ngIf]="cntDirecciones <= 0">
        <div class="row">
            <div class="col-md-12 jumbotron">
                <h3>Sin Registros.</h3>
                <p>La persona no tiene direcciones registradas.</p>
                <p>
                    <button type="button" class="btn btn-success" (click)="agregarDireccion()">
                        <i class="fa fa-plus fa-fw"></i>&nbsp;Agregar Direcci&oacute;n
                    </button>
                </p>
            </div>
        </div>
    </template>

    <template [ngIf]="cntDirecciones > 0">
        <div class="row">
            <div class="pull-right">
                <button type="button" class="btn btn-success" (click)="agregarDireccion()">
                    <i class="fa fa-plus fa-fw"></i>&nbsp;Agregar Direcci&oacute;n
                </button>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <template [ngIf]="headers">
                        <thead>
                            <tr>
                                <th *ngFor="let head of headers">
                                    {{head.descrip}}
                                </th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                    </template>

                    <template [ngIf]="direcciones">
                        <tbody>
                            <tr *ngFor="let direccion of direcciones">
                                <td class="col-md-4">
                                    <a style="cursor: pointer;" (click)="getDireccion(direccion)">
                                        {{direccion.direccion}}
                                    </a>
                                </td>

                                <td class="col-md-4">
                                    <a style="cursor: pointer;" (click)="getDireccion(direccion)">
                                        {{direccion.numero}}
                                    </a>
                                </td>

                                <td class="col-md-3 text-center">
                                    <span *ngIf="direccion.es_principal" class="text-info">
                                        <i class="fa fa-check fa-fw"></i>
                                    </span>

                                    <span *ngIf="!direccion.es_principal" class="text-gray">
                                        <i class="fa fa-check fa-fw"></i>
                                    </span>
                                </td>

                                <td class="col-md-1 text-center">
                                    <i class="text-danger fa fa-remove fa-fw"
                                       style="cursor: pointer;" (click)="eliminarDireccion(direccion)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </template>
                </table>
            </div>
        </div>
    </template>

    <modal [animation]="animationsEnabled" (onClose)="onClose($event)" #modal>
        <modal-header [show-close]="true">
            <h4 *ngIf="!editandoDireccion" class="modal-title">Nueva Direccion</h4>
            <h4 *ngIf="editandoDireccion" class="modal-title">Editar Direccion</h4>
        </modal-header>

        <modal-body>
            <div class="container-fluid">
                <form (ngSubmit)="onSubmit()" #crearEditarDireccion="ngForm" *ngIf="utilizandoFormulario">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="direccion">Direcci&oacute;n</label>
                                <input id="direccion" name="direccion" type="text" class="form-control" required
                                       [(ngModel)]="nuevaDireccion.direccion" ngControl="direccion" #direccion="ngModel">
                                <div [hidden]="direccion.valid || direccion.untouched" class="alert alert-danger">
                                    Debe ingresar la direccion.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="numero">Nro. Casa/Dpto</label>
                                <input id="numero" name="numero" type="text" class="form-control"
                                       [(ngModel)]="nuevaDireccion.numero" ngControl="numero" #numero="ngModel">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="descripcion">Descripci&oacute;n</label>
                                <textarea id="descripcion" name="descripcion" class="form-control"
                                          [(ngModel)]="nuevaDireccion.descripcion" ngControl="descripcion"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label for="es_principal">
                                    <input id="es_principal" name="es_principal" type="checkbox"
                                           [(ngModel)]="nuevaDireccion.es_principal"> Es Principal
                                </label>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-warning" type="submit" [disabled]="!crearEditarDireccion.form.valid">Guardar</button>
                            <button class="btn btn-default" type="button" (click)="cerrarFormulario()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </modal-body>
    </modal>

    <template [ngIf]="verNotificacion">
        <notifications [notification]="notificacion"
                       (close)="closeNotification($event)"></notifications>
    </template>
</div>