<section class="content-header">
    <h2>
        Panel de Control
        <small> Módulo Administración</small>
    </h2>
</section>
<br>
<section class="content">
    <div class="row text-white">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue disabled"
                 style="cursor: pointer;"
                 onclick="window.location='#/adm/usuarios/listar';">
                <div class="inner">

                    <h3 *ngIf="!loadingUsuarios">{{numeroUsuarios}}</h3>
                    <span *ngIf="loadingUsuarios">
                        <i class="text-white fa fa-refresh fa-spin fa-4x"></i>
                    </span>

                    <p>Usuarios</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users fa-fw"></i>
                </div>
                <a href="#/adm/usuarios/listar" class="small-box-footer">Más información <i
                        class="fa fa-calendar"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow disabled"
                 style="cursor: pointer;"
                 onclick="window.location='#/adm/roles/listar';">
                <div class="inner">

                    <h3 *ngIf="!loadingRoles">{{numeroRoles}}</h3>
                    <span *ngIf="loadingRoles">
                        <i class="text-white fa fa-refresh fa-spin fa-4x"></i>
                    </span>

                    <p>Roles</p>
                </div>
                <div class="icon">
                    <i class="fa fa-sitemap fa-fw"></i>
                </div>
                <a href="#/adm/roles/listar" class="small-box-footer">Más información <i class="fa fa-file-text-o"></i></a>
            </div>
        </div>
    </div>
</section>