<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <template [ngIf]="cusHabilitados">
                    <template ngFor let-cu [ngForOf]="cusHabilitados">
                        <template [ngIf]="cu.codigo == 'adm.usuarios'">
                            <li [class.active]="cu.id == selectedCu.id" (click)="selectCu(cu)">
                                <a [routerLink]="['UsuariosComponent']">
                                    <i class="fa fa-users fa-fw"></i>
                                    Usuarios
                                </a>
                            </li>
                        </template>

                        <template [ngIf]="cu.codigo == 'adm.roles'">
                            <li [class.active]="cu.id == selectedCu.id" (click)="selectCu(cu)">
                                <a [routerLink]="['RolesComponent']">
                                    <i class="fa fa-user-md fa-fw"></i>
                                    Roles
                                </a>
                            </li>
                        </template>
                    </template>
                </template>
            </ul>
        </div>

        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>